<div class="backdrop">
<br>
<p><%= @user.first_name %>
<%= @user.last_name %> :
<%= @user.interest %></p>
<br>
<br>
<br>

<div class="comment">
<span><% @user.received_feedbacks.each do |feedback| %></span>
<span><%= "#{feedback.giver.first_name} #{feedback.giver.last_name} wrote:" %></span> <br> <br>
<p><%= feedback.comment %></p>
<% end  %>

<br></div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<hr>
<br>

<p>leave a comment for <%= @user.first_name %></p>

<%= form_tag ('/feedbacks#new') do |f| %>
<%= text_area_tag :comment %>
<%= hidden_field_tag(:user_id, @user.id) %>
<%= submit_tag "post comment"%>
<% end %>
</div>
