<div class="backdrop">
<br>
<p><%= @user.first_name %>
<%= @user.last_name %> :
<%= @user.interest %></p>
<br>
<br>
<br>

<div class="comment">
<span><% @user.received_feedbacks.each do |feedback| %></span>
<span><%= "#{feedback.giver.first_name} #{feedback.giver.last_name} wrote:" %></span> <br> <br>
<p><%= feedback.comment %></p>
<% end  %>

<br></div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<hr>
<br>
<p>Leave a comment for <%= @user.first_name %></p>

<%= form_for @user do |f| %>
<%= f.fields_for :received_feedback do |received_feedback|%>
<%= received_feedback.text_area :comment %>
<% end %>
<%= f.submit "post comment" %>
<% end %>
</div>
