<p><%=  @user.first_name %>
<%=  @user.last_name %>
<%= @user.interest %>
<%= hidden_field(@user, :id) %>
<%= hidden_field(@user, :id) %></p>

<p>
<span><% @user.received_feedbacks.each do |feedback| %></span>
<p><%= feedback.comment %></p><br>
<span><%= "#{feedback.giver.first_name} #{feedback.giver.last_name} wrote:" %></span>
<% end  %>

</p><br>
<hr>
<p>leave a comment for <%= @user.first_name %></p>

<%= form_for @user do |f| %>
<%= f.fields_for :received_feedback do |received_feedback|%>
<%= received_feedback.text_area :comment %>
<%= f.hidden_field(:id) %>
<% end %>
<%= f.submit "post comment", new_feedback_path %>
<% end %>
